@font-face {
  font-family: "Gilroy";
  font-weight: bold;
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
       url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: lighter;
  src: url("../fonts/gilroylight.woff2") format("woff2"),
       url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  src: url("../fonts/opensans.woff2") format("woff2"),
       url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: lighter;
  src: url("../fonts/opensanslight.woff2") format("woff2"),
       url("../fonts/opensanslight.woff") format("woff");
}

html,
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

body, input {
  font-family: "Open Sans", "Arial", sans-serif;
  color: #000000;
  font-weight: lighter;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  opacity: 0.6;
}

a:active {
  opacity: 0.3;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-wrapper {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
}

.site-title,
.page-title {
  margin-bottom: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  font-size: 47px;
  letter-spacing: 0.5px;
  line-height: 1.2;
  word-spacing: 1.5;
  color: #000;
}

.site-text {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: lighter;
  font-size: 15px;
  line-height: 30px;
  text-transform: none;
  letter-spacing: 0.3px;
  word-spacing: normal;
  color: #000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
    position: relative;
    display: inline-block;
    vertical-align: top;
    color: #000;
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 42px;
    z-index: 1;
}

.btn::before {
  content: "";
  width: 100%;
  height: 8px;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #f0c52e;
  transform: translateY(-50%);
  transition: height 0.2s;
  z-index: -1;
}

.btn:hover::before, .btn:focus::before {
  height: 100%;
  transition: all 0.2s;
}

.btn:hover {
  opacity: 1;
}

.btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.slider__radio-btn,
.services__radio-btn {
  display: none;
}

/* Heder */

.header-main {
  width: 1160px;
  height: 308px;
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
  margin: 12px auto 0;
  background: transparent;
  background-image: linear-gradient(to bottom,
                    transparent 0,
                    transparent 8%,
                    #F7E296 8%,
                    #F7E296 100%);
  }

.header-main--page {
  height: 374px;
  background-image: linear-gradient(to bottom,
                    transparent 0,
                    transparent 7%,
                    #F7E296 7%,
                    #F7E296 55%,
                    transparent 55%,
                    transparent 100%);
}

.logo {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  font-size: 48px;
  color: #000;
  text-transform: uppercase;
}

.logo:hover {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

.logo--header {
  position: absolute;
  top: 0;
  left: 60px;
}

.logo--footer {
  color: #FFC600;
}

.control, .menu-main__list {
  display: flex;
  margin-top: 40px;
  margin-bottom: 15px;
  padding: 0 60px;
  justify-content: space-between;
  align-items: center;
}

.control--footer {
  width: 330px;
}

.control__login {
  width: 280px;
}

.control__search {
  width: 410px;
  margin-right: 100px;
}

.form-search {
  display: flex;
}

.form-search__btn {
  width: 84px;
  height: 47px;
  margin-left: -4px;
  color: #F7E296;
  border: none;
  background-color: #F7E296;
  cursor: none;
  position: relative;
}

.form-search__btn::after {
  content: "";
  width: 350px;
  height: 1px;
  position: absolute;
  top: 42px;
  left: -350px;
  border-bottom: 2px solid transparent;
}

.form-search__input {
  width: 330px;
  height: 47px;
  padding-left: 15px;
  font-size: 15px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.3);
  background-color: #F7E296;
  border: none;
}

.form-search__input:hover {
  color: rgba(0, 0, 0, 0.6);
}

.form-search__input:focus {
  color: #000;
}

.form-search__input:focus + .form-search__btn {
  color: #000;
  border: 2px solid #000;
  cursor: pointer;
}

.form-search__input:focus + .form-search__btn::after {
  border-bottom: 2px solid #000;
}

.form-search__input:focus + .form-search__btn:hover {
  color: #fff;
  background-color: #000;
}

.form-search__input:focus + .form-search__btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.control__item {
  padding-left: 22px;
  position: relative;
}

.control__item::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}

.control__search::before {
  top: 18px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-position: -5px -498px;
}

.control__login::before {
  width: 13px;
  height: 12px;
  background-position: -5px -566px;
}

.control__compare::before {
  width: 10px;
  height: 10px;
  background-position: -5px -115px;
}

.control__backet::before {
  width: 12px;
  height: 12px;
  background-position: -5px -5px;
}

.control__login--footer::before {
  width: 13px;
  height: 12px;
  background-position: -5px -588px;
}

.control__compare--footer::before {
  width: 10px;
  height: 10px;
  background-position: -5px -135px;
}

.control__backet--footer::before {
  width: 12px;
  height: 12px;
  background-position: -5px -27px;
}

.control__item:not(:first-child):hover::before,
.control--footer .control__item:hover::before {
  opacity: 0.6;
}

.control__item:not(:first-child):active::before,
.control--footer .control__item:active::before {
  opacity: 0.3;
}

/* Главное меню */

.menu-main__list {
  margin-top: 35px;
  padding-bottom: 35px;
}

.menu-main__item {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 3.5px;
}

.catalog {
  width: 220px;
  margin-right: auto;
  position: relative;
}

.catalog::after {
  content: "";
  position: absolute;
  top: 1px;
  right: -25px;
  width: 16px;
  height: 16px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -5px -402px;
}

.menu-main__item:last-child {
  width: 120px;
}

.menu-main__item:nth-child(2) {
  width: 160px;
}

.menu-main__item:nth-child(3) {
  width: 220px;
}

.submenu {
  display: none;
  position: absolute;
  top: 20px;
  left: -60px;
  display: none;
  z-index: 30;
}

.catalog:hover .submenu {
  display: block;
}

.submenu__list {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  margin-top: 5px;
  padding: 25px 400px 27px 60px;
  min-height: 100px;
  border: none;
  background-color: #F7E296;
}

.submenu__item {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: lighter;
  font-size: 15px;
  line-height: 36px;
  text-transform: none;
  letter-spacing: normal;
  padding: 0;
}

.submenu__item:nth-child(3n+1) {
	min-width: 240px;
}

.submenu__item:nth-child(3n) {
	min-width: 260px;
}

.submenu__item:nth-child(3n+2) {
	min-width: 200px;
}

.submenu__item:last-child {
	min-width: 300px;
}

/* Слайдер */

.slider {
  width: 100%;
  height: 500px;
  background-color: transparent;
  position: relative;
}

.slider__item {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  width: 560px;
  height: 500px;
  padding-left: 600px;
}

.slider__controls {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 330px;
  right: 80px;
  width: 80px;
  height: 11px;
  z-index: 20;
}

.slider__control {
  width: 11px;
  height: 11px;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  font-size: 0;
}

.slider__control::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 3px;
  border: 1px solid #000;
  border-radius: 50%;
  transform: translate(50%, 50%);
  display: none;
}

#btn-slide1:checked ~ .slider__controls .slider__control[for="btn-slide1"]::after,
#btn-slide2:checked ~ .slider__controls .slider__control[for="btn-slide2"]::after,
#btn-slide3:checked ~ .slider__controls .slider__control[for="btn-slide3"]::after {
  display: block;
}

#btn-slide1:checked ~ .slide__container .slider__item--slide1,
#btn-slide2:checked ~ .slide__container .slider__item--slide2,
#btn-slide3:checked ~ .slide__container .slider__item--slide3 {
  display: flex;
}

#btn-slide1:checked ~ .slide__container {
  background: transparent url("..//img/slide1.png") no-repeat;
  background-position: 90px center;
  order: 20;
}

#btn-slide2:checked ~ .slide__container {
  background: transparent url("..//img/slide2.png") no-repeat;
  background-position: 118px center;
  order: 20;
}

#btn-slide3:checked ~ .slide__container {
  background: transparent url("..//img/slide3.png") no-repeat;
  background-position: 20px center;
  order: 20;
}

.slider__item {
  position: relative;
}

.slider__item--slide1::before,
.slider__item--slide2::before,
.slider__item--slide3::before {
  content: attr(number);
  position: absolute;
  top: -10px;
  right: 47px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 179.2px;
  font-weight: bold;
  line-height: 179.2px;
  color: #fff;
  align-self: flex-end;
}

.slide__title {
  margin-top: 39px;
  padding-top: 43px;
  margin-bottom: 5px;
  position: relative;
}

.slide__title::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100px;
  height: 7px;
  border: none;
  background-color: #fff;
}

.slide__description {
  padding-right: 70px;
}

.slide__parameters {
  margin-top: 50px;
  margin-bottom: auto;
}

.slide__parameter-feature {
  width: 160px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 36px;
  font-weight: lighter;
  color: #000;
}

.slider__item--slide1 .slide__parameter-feature:nth-child(1),
.slider__item--slide3 .slide__parameter-feature:nth-child(1) {
  width: 150px;
}

.slider__item--slide1 .slide__parameter-feature:nth-child(2),
.slider__item--slide3 .slide__parameter-feature:nth-child(2) {
  width: 140px;
}

.slide__parameter-description {
  height: 35px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: lighter;
  line-height: 20px;
  color: #000;
}

.slide__btn {
  margin-top: 27px;
}

/* Область контента */

.content {
  width: 100%;
  margin: 480px auto 0;
}

/* Популярные товары */

.popular {
  width: 1160px;
  margin: 0 auto;
}

.popular__list {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.popular__img-wrapper {
  width: 160px;
  height: 160px;
  margin-bottom: 35px;
  margin-right: 0;
  background-color: #F7E296;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popular__link {
  width: 160px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.popular__link:hover,
.popular__link:focus {
  opacity: 1;
}

.popular__img-wrapper:hover,
.popular__img-wrapper:focus {
  background-color: #F0C52E;
}

.popular__link:active {
  opacity: 0.3;
}

/* Слайдер "Сервисы" */

.services {
  margin: 80px auto 20px;
  width: 100%;
  min-height: 386px;
  background-image: linear-gradient(to bottom,
                    transparent 0,
                    transparent 99px,
                    #E5E5E5 100px,
                    #E5E5E5 386px);
}

.services__wrapper {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.services__controls {
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: flex-start;
}

.services__controls::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  min-height: 318px;
  border: none;
  background-color: #000;
}

.services__control {
  width: 160px;
  margin: 8px 0;
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
}

.services__list {
  margin-left: 120px;
}

.services__item {
  display: none;
  min-height: 238px;
  margin-top: 0;
  margin-right: 60px;
  padding-right: 240px;
  padding-top: 70px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: right center;
}

#switch01:checked ~ .services__list .services__item--delivery,
#switch02:checked ~ .services__list .services__item--warranty,
#switch03:checked ~ .services__list .services__item--credit {
  display: block;
}

.services__item--delivery {
  background-image: url("..//img/delivery.png");
}

.services__item--warranty {
  background-image: url("..//img/warranty.png");
}

.services__item--credit {
  background-image: url("..//img/credit.png");
}

#switch01:checked ~ .services__controls .services__control[for="switch01"],
#switch02:checked ~ .services__controls .services__control[for="switch02"],
#switch03:checked ~ .services__controls .services__control[for="switch03"] {
  color: #F0C52E;
}

#switch01:checked ~ .services__controls .services__control[for="switch01"]::before,
#switch02:checked ~ .services__controls .services__control[for="switch02"]::before,
#switch03:checked ~ .services__controls .services__control[for="switch03"]::before {
  height: 100%;
  width: 280px;
  background-color: #000;
}


.services__name {
  margin-top: 0;
}

.services__description {
  width: 437px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: lighter;
  color: #000;
}

/* Партнеры*/

.logotypes {
  width: 1160px;
  margin: 100px auto 90px;
}

.logotypes__list {
  display: flex;
  justify-content: space-between;
}

.logotypes__link {
  filter: grayscale(1);
  opacity: 0.2;
}

.logotypes__link:hover {
  filter: none;
  opacity: 1;
}

/* Info */

.info {
  width: 1160px;
  min-height: 580px;
  margin: 0 auto 70px;
  display: flex;
  justify-content: space-between;
}

.about {
  width: 470px;
}

.contacts {
  width: 560px;
}

.about, .contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.about::before, .contacts::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #000;
}

.about__title,
.contacts__title {
  margin: 50px 0 30px;
}

.about__text:last-of-type {
  letter-spacing: 0.1px;
  word-spacing: 0.1px;
}

.about__carrier-list {
  margin-top: 50px;
  padding-left: 0;
}

.about__carrier-item {
  padding-left: 35px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: bold;
  color: #000;
  position: relative;
}

.about__carrier-item::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
  width: 4px;
  height: 4px;
  border: 3px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.contacts__map {
  margin-top: 20px;
}

.contacts__btn,
.about__btn {
  margin-top: auto;
}

/* Footer */

.footer {
  width: 100%;
  background-color: #464646;
}

.footer__line {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__line--top {
  padding-top: 65px;
}

.control--footer .control__link {
  color: #fff;
}

.footer__line--middle {
  margin-top: 0;
  align-items: baseline;
}

.footer__address,
.footer__contact,
.menu-main--footer .menu-main__link {
  color: #fff;
}

.footer__contact {
  margin-left: 42px;
}

.menu-main--footer .menu-main__list {
  display: flex;
  justify-content: space-between;
}

.menu-main--footer .menu-main__item {
  width: 160px;
  text-align: center;
}

.footer__line--bottom {
  margin-top: 20px;
  padding-bottom: 60px;
}

.footer__decor {
  width: 80px;
  height: 7px;
  background-color: #FFC600;
}

.social {
  display: flex;
  justify-content: flex-start;
  width-min: 150px;
  height: 34px;
  font-size: 0;
}

.social__btn {
  width: 32px;
  height: 32px;
  margin-right: 20px;
  border: none;
  border-radius: 50%;
  background-image: url("..//img/sprite.png");
  background-repeat: no-repeat;
  opacity: 0.5;
}

.social__btn:hover {
  opacity: 0.8;
}

.social__btn:active {
  opacity: 0.1;
}

.btn-tw {
  background-position: -5px -524px;
  margin-right: 0;
}

.btn-insta {
  background-position: -5px -315px;
}

.btn-fb {
  background-position: -5px -155px;
}

.footer__copyright {
  width: 27px;
  height: 35px;
  margin-left: 53px;
  background-image: url("..//img/sprite.png");
  background-repeat: no-repeat;
  background-position: -5px -357px;
  font-size: 0;
}

/* catalog */

/* Хлебные крошки - область хедера */

.page-title {
  margin-top: 50px;
  padding-left: 60px;
}

.breadcrumbs {
  padding-left: 60px;
}

.breadcrumbs__list {
  display: flex;
  justify-content: flex-start;
  padding-left: 0;
}

.breadcrumbs__item {
  padding-right: 38px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 36px;
  font-weight: lighter;
  color: #000;
  opacity: 0.3;
}

.breadcrumbs__link:active {
  opacity: 0.1;
}

/* Область контента */

.content--page {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
}

.content--page::after {
  content: "";
  width: 100%;
  height: 70px;
  position: absolute;
  top: 0;
  background-color: #EBEBEB;
  z-index: 0;
}

.filter,
.column-right-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.filter {
  width: 270px;
  padding-left: 60px;
  align-items: flex-end;
  margin-left: auto;
  position: relative;
  z-index: 10;
}

.filter::after {
  content: "";
  width: 50vw;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #EBEBEB;
  z-index: -10;
}

.section-title {
  padding: 12px 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3.5px;
}

.filter .section-title {
  margin-right: 180px;
  position: relative;
}

.filter .section-title::after {
  content: "";
  width: 50vw;
  height: 70px;
  position: absolute;
  top: -13px;
  right: -180px;
  background-color: #DCDCDC;
  z-index: -5;
}

.column-right-wrap {
  width: 760px;
  padding-left: 70px;
  margin-right: auto;
}

/* Сортировка */

.sort {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 10;
}

.sort__criterions {
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
}

.sort__criterions-item {
  margin-left: 30px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: lighter;
  opacity: 0.3;
}

.sort__criterions-item--current,
.sort__criterions-item:active {
  opacity: 1;
}

.sort__control {
  display: flex;
  justify-content: space-between;
  width: 50px;
  margin-left: auto;
  font-size: 0;
}

.sort__btn {
  display: inline-block;
  border: 10px solid #000;
  border-right-width: 5px;
  border-left-width: 5px;
  border-right-color: transparent;
  border-left-color: transparent;
  opacity: 0.2;
}

.sort__btn--up {
    border-top: 0;
}

.sort__btn--down {
    border-bottom: 0;
    margin-left: 20px;
}

.sort__btn:hover,
.sort__btn:focus {
  opacity: 0.4;
}

.sort__btn--active,
.sort__btn:active {
  opacity: 1;
}

/* Каталог - выборка */

.goods__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.goods__list {
  margin-top: 70px;
}

.goods__item-info {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
}

.goods__item-title {
  width: 260px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: normal;
}

.goods__item-title a {
  color: #000;
  text-decoration: none
}

.goods__item-price {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: lighter;
  font-size: 16px;
}

.goods__item-image {
  margin: 0;
}

.goods__item {
  position: relative;
}

.goods__item:hover .goods__item-hover {
  display: flex;
}

.goods__item-hover {
  display: none;
  margin: 0;
  padding: 0;
  width: 360px;
  height: 380px;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
}

.goods__btn {
  width: 140px;
  padding: 10px 30px;
}

.goods__compare {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: lighter;
  font-size: 13px;
  line-height: 36px;
  letter-spacing: 1.1px;
  text-align: center;
  opacity: 0.5;
}

.goods__compare:hover,
.goods__compare:focus {
  opacity: 1;
}

.goods__compare:active {
  opacity: 0.2;
}

/* Filter */

.filter__form {
  width: 200px;
  margin-right: 70px;
  box-sizing: border-box;
}

.filter__form fieldset {
  border: none;
  padding: 0;
}

.filter__cost {
  margin-top: 85px;
  height: 100px;
}

.filter__color,
.filter__bluetooth {
  margin-top: 30px;
  margin-bottom: 40px;
}

.filter__form legend {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #000;
  position: relative;
}

.filter__form legend::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  width: 200px;
  height: 1px;
  border-top: 2px solid #000;
}

.filter__cost-range {
  height: 24px;
  margin-top: 20px;
  position: relative;
  cursor: pointer;
}

.filter__cost-range span {
  position: absolute;
  top: 0;
  width: 4px;
  height: 4px;
  background-color: #ABABAB;
  border: 8px solid #fff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.3);
}

.filter__range-left {
  left: 0;
}

.filter__range-right {
  left: 117px;
}

.filter__cost-range span:hover {
  border: 9px solid #fff;
  top: -1px;
}

.filter__range-left:hover {
  left: -1px;
}

.filter__range-right:hover {
  left: 116px;
}

.filter__range-left::before {
  content: "";
  display: block;
  position: absolute;
  left: 13px;
  width: 96px;
  height: 1px;
  border-bottom: 2px solid #91C92F;
}

.filter__range-right::before {
  content: "";
  display: block;
  position: absolute;
  left: 13px;
  width: 65px;
  height: 1px;
  border-bottom: 2px solid #DBDBDB;
}

.filter__cost-equal {
  display: flex;
}

.filter__cost-equal input {
  width: 70px;
  margin-left: 10px;
  border: none;
  background-color: transparent;
}

.filter__cost-equal input,
.filter__cost-equal label {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 14px;
  line-height: 22.27px;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.2);
}

.filter__list-options {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.filter__checkbox,
.filter__radio {
  display: none;
}

.filter__option {
  padding-left: 40px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 40px;
  font-weight: lighter;
  color: #000;
  position: relative;
  cursor: pointer;
}

.filter__checkbox + .filter__option::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 18px;
  height: 18px;
  border: 2px solid #000;
  border-radius: 2px;
}

.filter__checkbox:checked + .filter__option::after {
  content: "";
  position: absolute;
  top: 11px;
  left: 6px;
  width: 15px;
  height: 7px;
  border-left: 4px solid #000;
  border-bottom: 4px solid #000;
  box-shadow: 0 2px 0 0 #EBEBEB,
              inset 0 -2px 0 0 #EBEBEB;
  transform: rotate(-45deg);
}

.filter__checkbox:hover + .filter__option::before,
.filter__checkbox:checked:hover + .filter__option::after,
.filter__checkbox:checked:hover + .filter__option::before {
  opacity: 0.6;
}

.filter__radio + .filter__option::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 4px solid #000;
  border-radius: 50%;
}

.filter__radio:checked + .filter__option::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 8px;
  width: 6px;
  height: 6px;
  border: 1px solid #000;
  background-color: #000;
  border-radius: 50%;
}

.filter__radio:hover + .filter__option::before,
.filter__radio:checked:hover + .filter__option::after,
.filter__radio:checked:hover + .filter__option::before {
  opacity: 0.6;
}

.filter__btn {
  border: none;
  background-color: #EBEBEB;
}

/* paginator */

.pagination {
  height: 70px;
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EBEBEB;
}

.pagination__number {
  display: flex;
  width: 100px;
  justify-content: space-around;
}

.pagination__item {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  background-color: transparent;
  color: #000;
  opacity: 0.3;
  cursor: pointer;
}

.pagination__item--current {
  opacity: 1;
}

.pagination__item--prev,
.pagination__item--next {
  height: 20px;
  padding: 25px 30px;
  opacity: 1;
}

.pagination__item--prev:hover,
.pagination__item--next:hover {
  background-color: #D9D9D9;
}

.pagination__item--prev:active,
.pagination__item--next:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination__item:hover {
  opacity: 0.6;
}

.pagination__item:active {
   opacity: 1;
}

/* popup */

@keyframes shake {
  0%, 100% {
            transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
            transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
            transform: translateX(10px);
  }
}

.map,
.feedback {
  position: fixed;
  top: 120px;
  left: 50%;
  margin-left: -480px;
  display: block;
  width: 960px;
  height: 560px;
  padding: 0;
  border: none;
  box-shadow: 10px 0 20px 0 rgba(0, 0, 0, 0.2),
              0 20px 60px 5px rgba(0, 0, 0, 0.3);
  z-index: 20;
  opacity: 0;
  transform: scale(0);
}

.feedback {
  background-color: #fff;
  width: 800px;
  height: 360px;
  padding: 80px 100px;
}

.map {
  background: #E3E3E3 url("..//img/map.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

.map--show,
.feedback--show {
    transform: scale(1);
    opacity: 1;
    transition: opacity 0.8s ease-in-out,
                transform 0.8s ease-in-out 0.1s;
}

.feedback--error {
  animation: shake 0.6s;
}

.feedback--error .feedback__field,
.feedback--error .feedback__letter {
  background-color: #F6DADA;
  color: rgba(0, 0, 0, 0.4);
}

.feedback__inline {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 40px;
}

.feedback__field {
  width: 350px;
  height: 50px;
  padding-left: 20px;
}

.feedback__letter {
  width: 100%;
  height: 140px;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 40px;
}

.feedback__field,
.feedback__letter {
  margin-top: 10px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.4);
  border: 3px solid transparent;
  background-color: #F2F2F2;
}

.feedback__field:hover,
.feedback__letter:hover {
  background-color: #EAEAEA;
}

.feedback__field:focus,
.feedback__letter:focus {
  background-color: #fff;
  color: #000;
  border: 3px solid #F7E296;
}

.feedback__field:invalid,
.feedback__letter:invalid {
  background-color: #F6DADA;
  color: rgba(0, 0, 0, 0.4);
}

.feedback__field:invalid:hover,
.feedback__letter:invalid:hover {
  background-color: #EAEAEA;
}

.feedback__label {
  display: flex;
  flex-direction: column;
  color: #000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
}

.feedback__btn {
  border: none;
  background-color: #fff;
}

.map__close,
.feedback__close {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 22px;
  right: 25px;
  border: 0;
  border-radius: 50%;
  background-color: rgba(240, 197, 46, 0.5);
  font-size: 0;
  cursor: pointer;
}

.map__close::before,
.map__close::after,
.feedback__close::before,
.feedback__close::after {
  content: "";
  position: absolute;
  top: 30px;
  left: 15px;
  width: 30px;
  height: 2px;
  background-color: #fff;
}

.map__close::before,
.feedback__close::before {
  transform: rotate(45deg);
}

.map__close::after,
.feedback__close::after  {
  transform: rotate(-45deg);
}
