@font-face {
  font-family: "Gilroy";
  font-weight: bold;
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
       url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: lighter;
  src: url("../fonts/gilroylight.woff2") format("woff2"),
       url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  src: url("../fonts/opensans.woff2") format("woff2"),
       url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: lighter;
  src: url("../fonts/opensanslight.woff2") format("woff2"),
       url("../fonts/opensanslight.woff") format("woff");
}

html,
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

body, button, input {
  font-family: "Open Sans", "Arial", sans-serif;
  color: #000000;
  font-weight: lighter;
}

img {
  max-width: 100%;
}

::-moz-selection {
color: #FFFFFF;
background-color: #81B3D2;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding-top: 20px;
  background-color: #ffffff;
}

.visually-hidden {
  font-size: 0;
}

.btn {
    display: inline-block;
    vertical-align: middle;
    color: #000;
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    border: none;
    background-color: transparent;
    background-image: linear-gradient(to bottom,
                      transparent 0,
                      transparent 16px,
                      #F0C52E 17px,
                      #F0C52E 24px,
                      transparent 25px,
                      transparent 40px);

    padding: 10px 40px;
}

.btn:hover {
  background-color: #F0C52E;
}

.btn:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Heder */

.header-main {
  width: 1160px;
  height: 308px;
  position: relative;
  margin: 12px auto;
  background: transparent;
  background-image: linear-gradient(to bottom,
                    transparent 0,
                    transparent 28px,
                    #F7E296 29px,
                    #F7E296 308px);
  }

.logo {
  position: absolute;
  top: 0;
  left: 60px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  font-size: 48px;
  text-transform: uppercase;
}

.control, .menu-main__list {
  display: flex;
  margin-top: 40px;
  padding: 0 60px;
  justify-content: space-between;
  align-items: center;
}

.submenu {
  display: none;
}

.control__item,
.menu-main__item,
.submenu__item {
  list-style: none;
}

.control__search {
  width: 440px;
  margin-right: 60px;
  position: relative;
}

.control__login {
  width: 208px;
}

.form-search__input {
  width: 320px;
  height: 45px;
  padding-left: 35px;
  font-size: 15px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.3);
  background-color: #F7E296;
  border: none;

}

.form-search__label {
  position: relative;
}

.form-search__label::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 4px;
  width: 16px;
  height: 16px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -5px -472px;
}

.form-search__btn {
  width: 84px;
  height: 47px;
  margin-left: -4px;
  color: #F7E296;
  border: none;
  background-color: #F7E296;
  cursor: none;
}

.form-search__input:focus {
  border-bottom: 2px solid #000;
  color: #000;
}

.form-search__input:focus + .form-search__btn {
  color: #000;
  border: 2px solid #000;
  cursor: pointer;
}

.form-search__input:focus + .form-search__btn:hover {
  color: #fff;
  background-color: #000;
}

.form-search__input:focus + .form-search__btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.control__link {
  text-decoration: none;
  color: #000;
}

.control__item {
  padding-left: 22px;
  position: relative;
}

.control__search {
  padding-left: 0;
}

.control__item::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}

.control__login::before {
  width: 13px;
  height: 12px;
  background-position: -5px -540px;
}

.control__compare::before {
  width: 10px;
  height: 10px;
  background-position: -5px -115px;
}

.control__backet::before {
  width: 12px;
  height: 12px;
  background-position: -5px -5px;
}

.menu-main__list {
  margin-top: 35px;
}

.menu-main__item {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 3.5px;
}

.menu-main__item:first-child {
  width: 540px;
}

.menu-main__link {
  color: #000;
  text-decoration: none;
}
