@font-face {
  font-family: "Gilroy";
  font-weight: bold;
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
       url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: lighter;
  src: url("../fonts/gilroylight.woff2") format("woff2"),
       url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  src: url("../fonts/opensans.woff2") format("woff2"),
       url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: lighter;
  src: url("../fonts/opensanslight.woff2") format("woff2"),
       url("../fonts/opensanslight.woff") format("woff");
}

html,
body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

body, input {
  font-family: "Open Sans", "Arial", sans-serif;
  color: #000000;
  font-weight: lighter;
}

img {
  max-width: 100%;
}

::-moz-selection {
color: #FFFFFF;
background-color: #81B3D2;
}

.site-wrapper {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
}

.site-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  font-size: 47px;
  letter-spacing: 0.5px;
  line-height: 1.2;
  word-spacing: 1.5;
  color: #000;
}

.site-text {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: lighter;
  font-size: 15px;
  line-height: 30px;
  text-transform: none;
  letter-spacing: 0.3px;
  word-spacing: normal;
  color: #000;
}

.visually-hidden {
  font-size: 0;
}

.btn {
    display: inline-block;
    vertical-align: middle;
    color: #000;
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    border: none;
    background-color: transparent;
    background-image: linear-gradient(to bottom,
                      transparent 0,
                      transparent 16px,
                      #F0C52E 17px,
                      #F0C52E 24px,
                      transparent 25px,
                      transparent 40px);
    padding: 10px 42px;
}

.btn:hover {
  background-color: #F0C52E;
}

.btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.slider__radio-btn,
.services__radio-btn {
  display: none;
}

/* Heder */

.header-main {
  width: 1160px;
  height: 308px;
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
  margin: 12px auto;
  background: transparent;
  background-image: linear-gradient(to bottom,
                    transparent 0,
                    transparent 28px,
                    #F7E296 29px,
                    #F7E296 308px);
  }

.logo {
  position: absolute;
  top: 0;
  left: 60px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  font-size: 48px;
  text-transform: uppercase;
}

.control, .menu-main__list {
  display: flex;
  margin-top: 40px;
  padding: 0 60px;
  justify-content: space-between;
  align-items: center;
}

.control__item,
.menu-main__item,
.submenu__item {
  list-style: none;
}

.control__search {
  width: 440px;
  margin-right: 60px;
  position: relative;
}

.control__login {
  width: 208px;
}

.form-search__input {
  width: 320px;
  height: 45px;
  padding-left: 35px;
  font-size: 15px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.3);
  background-color: #F7E296;
  border: none;

}

.form-search__label {
  position: relative;
}

.form-search__label::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 4px;
  width: 16px;
  height: 16px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -5px -498px;
}

.form-search__btn {
  width: 84px;
  height: 47px;
  margin-left: -4px;
  color: #F7E296;
  border: none;
  background-color: #F7E296;
  cursor: none;
}

.form-search__input:focus {
  border-bottom: 2px solid #000;
  color: #000;
}

.form-search__input:focus + .form-search__btn {
  color: #000;
  border: 2px solid #000;
  cursor: pointer;
}

.form-search__input:focus + .form-search__btn:hover {
  color: #fff;
  background-color: #000;
}

.form-search__input:focus + .form-search__btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.control__link {
  text-decoration: none;
  color: #000;
}

.control__item {
  padding-left: 22px;
  position: relative;
}

.control__search {
  padding-left: 0;
}

.control__item::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}

.control__login::before {
  width: 13px;
  height: 12px;
  background-position: -5px -566px;
}

.control__compare::before {
  width: 10px;
  height: 10px;
  background-position: -5px -115px;
}

.control__backet::before {
  width: 12px;
  height: 12px;
  background-position: -5px -5px;
}

.menu-main__list {
  margin-top: 35px;
}

.menu-main__item {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 3.5px;
}

.menu-main__item:first-child {
  width: 220px;
  margin-right: auto;
  position: relative;
}

.catalog::after {
  content: "";
  position: absolute;
  top: 1px;
  right: -25px;
  width: 16px;
  height: 16px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -5px -402px;
}

.menu-main__item:last-child {
  width: 120px;
}

.menu-main__item:nth-child(2) {
  width: 160px;
}

.menu-main__item:nth-child(3) {
  width: 220px;
}

.menu-main__link {
  color: #000;
  text-decoration: none;
}

.catalog:hover + .submenu {
  display: flex;
  z-index: 30;
}

.submenu {
  display: none;
  position: absolute;
  top: 50px;
  left: -60px;
  width: 1160px;
  min-height: 135px;
  border: none;
  background-color: #F7E296;
}

.submenu__item {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: lighter;
  font-size: 15px;
  line-height: 36px;
  text-transform: none;
  letter-spacing: normal;
}

.submenu__list {
  display: flex;
  flex-direction: column;
}

.submenu__link {
  text-decoration: none;
  color: #000;
}

/* Слайдер */

.slider {
  width: 100%;
  height: 500px;
  margin-top: 50px;
  background-color: transparent;
  position: relative;
}

.slider__item {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  width: 560px;
  height: 500px;
  padding-left: 600px;
}

.slider__controls {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 330px;
  right: 80px;
  width: 80px;
  height: 11px;
  z-index: 20;
}

.slider__control {
  width: 6px;
  height: 6px;
  background-color: transparent;
  border: 3px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  cursor: pointer;
}

#btn-slide1:checked ~ .slide__container .slider__item--slide1,
#btn-slide2:checked ~ .slide__container .slider__item--slide2,
#btn-slide3:checked ~ .slide__container .slider__item--slide3 {
  display: flex;
}

#btn-slide1:checked ~ .slide__container {
  background: transparent url("..//img/slide1.png") no-repeat;
  background-position: 90px center;
  order: 20;
}

#btn-slide2:checked ~ .slide__container {
  background: transparent url("..//img/slide2.png") no-repeat;
  background-position: 118px center;
  order: 20;
}

#btn-slide3:checked ~ .slide__container {
  background: transparent url("..//img/slide3.png") no-repeat;
  background-position: 20px center;
  order: 20;
}

#btn-slide1:checked ~ .slider__controls .slider__control[for="btn-slide1"],
#btn-slide2:checked ~ .slider__controls .slider__control[for="btn-slide2"],
#btn-slide3:checked ~ .slider__controls .slider__control[for="btn-slide3"] {
  border: 3px solid #000;
}

.slide1 {
  position: relative;
}

.slider__item--slide1::before,
.slider__item--slide2::before,
.slider__item--slide3::before {
  content: attr(number);
  position: absolute;
  top: -10px;
  right: 47px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 179.2px;
  font-weight: bold;
  line-height: 179.2px;
  color: #fff;
  align-self: flex-end;
}

.slide__title {
  margin-top: 39px;
  padding-top: 43px;
  margin-bottom: 5px;
  position: relative;
}

.slide__title::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100px;
  height: 7px;
  border: none;
  background-color: #fff;
}

.slide__description {
  margin-bottom: 41px;
  padding-right: 70px;
}

.slide__parameters {
  margin-top: 50px;
  margin-bottom: auto;
}

.slide__parameter-feature {
  width: 160px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 36px;
  font-weight: lighter;
  color: #000;
}

.slider__item--slide1 .slide__parameter-feature:nth-child(1),
.slider__item--slide3 .slide__parameter-feature:nth-child(1) {
  width: 150px;
}

.slider__item--slide1 .slide__parameter-feature:nth-child(2),
.slider__item--slide3 .slide__parameter-feature:nth-child(2) {
  width: 140px;
}

.slide__parameter-description {
  height: 35px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: lighter;
  line-height: 20px;
  color: #000;
}

/* Область контента */
/* Популярные товары */
.content {
  width: 1160px;
  margin: 480px auto 0;
}

.popular {
  margin: 0;
}

.popular__list {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.popular__item {
  list-style: none;
}

.popular__img-wrapper {
  width: 160px;
  height: 160px;
  margin-bottom: 35px;
  margin-right: 0;
  background-color: #F7E296;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popular__link {
  width: 160px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

/* Слайдер "Сервисы" */

.services {
  margin: 80px auto 20px;
  width: 100%;
  min-height: 386px;
  background-image: linear-gradient(to bottom,
                    transparent 0,
                    transparent 99px,
                    #E5E5E5 100px,
                    #E5E5E5 386px);
}

.services__wrapper {
  display: flex;
  justify-content: space-between;
}

.services__controls {
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: flex-start;
}

.services__controls::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 318px;
  border: none;
  background-color: #000;
}

.services__control {
  width: 160px;
  margin: 8px 0;
  padding: 10px 0;
  text-align: center;
}

.services__list {
  margin-left: 120px;
}

.services__item {
  display: none;
  min-height: 238px;
  margin-top: 0;
  margin-right: 60px;
  padding-right: 240px;
  padding-top: 70px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: right center;
}

#switch01:checked ~ .services__list .services__item--delivery,
#switch02:checked ~ .services__list .services__item--warranty,
#switch03:checked ~ .services__list .services__item--credit {
  display: block;
}

.services__item--delivery {
  background-image: url("..//img/delivery.png");
}

.services__item--warranty {
  background-image: url("..//img/warranty.png");
}

.services__item--credit {
  background-image: url("..//img/credit.png");
}

#switch01:checked ~ .services__controls .services__control[for="switch01"],
#switch02:checked ~ .services__controls .services__control[for="switch02"],
#switch03:checked ~ .services__controls .services__control[for="switch03"] {
  padding-right: 120px;
  background-color: #000;
  background-image: none;
  color: #F0C52E;
}

.services__name {
  margin-top: 0;
}

.services__description {
  width: 437px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: lighter;
  color: #000;
}

/* Партнеры*/

.logotypes {
  margin: 100px auto 90px;
}

.logotypes__list {
  display: flex;
  justify-content: space-between;
}

.logotypes__color,
.logotypes__nocolor {
  width: 260px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: 260px 100px;
}

.logotypes__nocolor {
  opacity: 1;
}

.logotypes__nocolor--logo1 {
  background-image: url("..//img/logo1.jpg");
}

.logotypes__color--logo1 {
  background-image: url("..//img/logo1color.jpg");
}

.logotypes__nocolor--logo2 {
  background-image: url("..//img/logo2.jpg");
}

.logotypes__color--logo2 {
  background-image: url("..//img/logo2color.jpg");
}
.logotypes__nocolor--logo3 {
  background-image: url("..//img/logo3.jpg");
}

.logotypes__color--logo3 {
  background-image: url("..//img/logo3color.jpg");
}
.logotypes__nocolor--logo4 {
  background-image: url("..//img/logo4.jpg");
}

.logotypes__color--logo4 {
  background-image: url("..//img/logo4color.jpg");
}

.logotypes__nocolor:hover {
  opacity: 0;
}

/* Info */

.info {
  min-height: 580px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.about {
  width: 470px;
}

.contacts {
  width: 560px;
}

.about, .contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.about::before, .contacts::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #000;
}

.about__title,
.contacts__title {
  margin: 50px 0 30px;
}

.about__text:last-of-type {
  letter-spacing: 0.1px;
  word-spacing: 0.1px;
}

.about__carrier-list {
  list-style: none;
  margin-top: 50px;
  padding-left: 0;
}

.about__carrier-item {
  padding-left: 35px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: bold;
  color: #000;
  position: relative;
}

.about__carrier-item::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
  width: 4px;
  height: 4px;
  border: 3px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.contacts__map {
  margin-top: 20px;
}

.contacts__btn,
.about__btn {
  margin-top: auto;
}
